# ----------------------
# Flask
# ----------------------
flask
flask_json


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn

beautifulsoup4
requests
